@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


body{
    background-color: #ff0000;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.959);
    margin: ;
    font-family: "SUSE", sans-serif;

}

h1{ 
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
    color: #ffcbdb;

}
