@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    background-color: #ff0000;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.959);

    font-family: "SUSE", sans-serif;
    border: 10px solid rebeccapurple;

    padding: 20px;
}



h1 {
    font-size: 45px;
    margin: 0;
    color: #ffcbdb;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    border-bottom: 2px solid #ffcbdb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

p {
    line-height: 1.6;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #ffcbdb;
}
