body{
    background-color: #ff0000;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.959);
    margin: ;
}

h1{ 
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    color: #ffcbdb;

}
